#nprogress .spinner {
    right: 50% !important;
}

/* Custom Scrollbar */

/* Firefox */
html,
body {
  scrollbar-color: rgba(255, 255, 255, 0.05) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 5px;
  width: 4px;
  background: transparent;
  padding-right: 10;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1ex;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Fix for syntax highlight (override Vuetify code props) */

.prism-editor-wrapper code {
  background-color: inherit;
  color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

.prism-editor-wrapper code::before {
  content: "";
  letter-spacing: 0px;
}
.prism-editor-wrapper code::after {
  content: "";
  letter-spacing: 0px;
}